rapport.pdf
reg1.pdf
Beamer.pdf
*.log
*.aux
*.dll
*.dvi
*.synctex
*.synctex.gz
*.toc
*.bbl
*.glo
*.ist
*.orig
*.acn
*.tcp
*.tps
*.blg
*.tps
*.lof
*.lot
*.tdo
Thumbs.db
*.tmp
rapport.synctex(busy)
rapport.synctex.gz(busy)
*.out
*.bib.bak
*.bak
*.sav
*.fls
*.fdb_latexmk
*.bib.save
*.tex.swp
*.bib.swp
